/**************************
* MARK: Section fonts
**************************/
@font-face {
  font-family: "mono";
  src: url(../fonts/Space_Mono/SpaceMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "press";
  src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
  font-weight: 100 900;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/**************************
* MARK: Custom properties
**************************/

html {
  /* color-scheme */
  color-scheme: light dark;

  /* custom properties */
  --background: light-dark(#b9c2e6, #030820);
  --color: light-dark(##030820, #b9c2e6);
  --color-h1: light-dark(#2c3a2e, #cdba93);

  --step-0: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
  --step-1: clamp(1.2rem, 0.975rem + 1vw, 1.875rem);
  --step-2: clamp(1.44rem, 0.9825rem + 2.0333vw, 2.8125rem);
  --step-3: clamp(1.728rem, 0.8978rem + 3.69vw, 4.2188rem);
  --step-4: clamp(2.0736rem, 0.6554rem + 6.303vw, 6.3281rem);
  --step-5: clamp(2.4883rem, 0.1537rem + 10.3761vw, 9.4922rem);

  --whitespace-s: 1rem;
  --whitespace-m: calc(var(--whitespace-s) * 2);
  --whitespace-l: calc(var(--whitespace-s) * 4);
  --whitespace-xs: calc(var(--whitespace-s) * 0.5);
}

/**************************
* MARK: body
**************************/

body {
  font-family: "mono", "Andale mono";
  font-weight: 400;
  background-color: var(--background);
  color: var(--color);
  font-size: var(--step-0);
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  @media (width > 30em) {
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

/**************************
* MARK: main
**************************/

/**************************
* MARK: header
**************************/

header {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0;
  margin-bottom: 3em;
}

h1 {
  font-family: "press", "Andale mono";
  text-align: center;
  font-size: 4em;
  letter-spacing: 0.05em;
  font-weight: 500;
  margin-top: 0.5em;
  text-shadow:
    5px 5px 0 #ff005e,
    10px 10px 0 #00d4ff;
  animation: shadow-dance 2s infinite;

  font-size: clamp(1rem, -0.5rem + 7.5vw, 4rem);
}

@keyframes shadow-dance {
  /* https://prismic.io/blog/css-text-animations#7-glitch-effect */
  0%,
  100% {
    text-shadow:
      5px 5px 0 #ff005e,
      10px 10px 0 #00d4ff;
  }
  50% {
    text-shadow:
      -5px -5px 0 #00d4ff,
      -10px -10px 0 #ff005e;
  }
}

header > nav {
  display: flex;
  justify-content: left;

  margin: 0;
  padding: 1em;
  /* margin-left: 3em; */
  align-items: center;
  text-wrap: wrap;
  /* margin-top: 0.5em; */
  /* margin-bottom: 0em; */
  gap: 2em;
  width: 100%;
  /* padding: 0; */
  border-bottom: 0.02em solid white;
}

header > nav a {
  text-decoration: none;
  font-family: "mono", "Andale mono";
  color: var(--color);
  font-size: 0.7em;
  font-weight: 400;
  text-align: center;
  display: block;
}

header > nav a:hover {
  text-decoration: underline;
}

/**************************
* MARK: section
**************************/

section {
  display: grid;
  grid-template-columns: 1fr 12em;
  gap: 1.5em;
  margin-inline: auto;
  width: 100%;
  max-width: 45em;
  align-items: center;
  background-color: #7984b0;
  border: 0.1rem solid #3c456a;
  border-radius: 1.5rem;
  padding: 1.5em;
  box-shadow: 0 0 1em var(--card-glow, rgba(0, 255, 102, 0.2)); /*bron: www.gemini.com */
}

section article {
  display: grid;
  gap: 0.8em;
  width: 100%;
}

section p {
  line-height: 1.5;
  font-size: 0.8em;
  text-align: left;
}

section a {
  justify-self: start;
  display: inline-block;
  text-align: center;
  padding: 0.5em 1.2em;
  background-color: aliceblue;
  color: #15215e;
  font-weight: 600;
  text-decoration: none;
  border-radius: 2em;
}

section img {
  margin: 0;
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 40em;
  height: auto;
  aspect-ratio: 1/ 1;
  object-fit: cover;
  border-radius: 1em;
}

/**************************
* MARK: articles
**************************/

p {
  text-align: center;
  font-weight: 400;
  font-size: var(--step-0);
  margin: 0;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 2em;
  list-style-type: none;
  justify-items: center;
}

article {
  width: 100%;
}

figure {
  position: relative;
  overflow: hidden;
  border-radius: 2em;
}

h2 {
  text-align: center;
  margin: 1.5em;
  line-height: 1.8em;
  font-size: 1em;
}

figure > a {
  color: var(--color-h1);
  font-size: var(--step-0);
  font-weight: 700;
  text-decoration: underline;
  position: relative;
}

article img {
  width: 100%;
  height: auto;
  display: grid;
  aspect-ratio: 1/ 1;
  margin-block: var(--whitespace-s);
  border-radius: 2em;
  object-fit: cover;
}

figcaption {
  position: absolute;
  inset: 0;
  background-color: #7984b0;
  color: var(--color);
  font-size: var(--step-0);
  padding: 1.5em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

figure:hover > figcaption {
  transform: translateY(0);
}
/*bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Transitions/Using*/

.webring h2 {
  font-size: 0.1em;
  text-align: center;
}

/**************************
* MARK: footer
**************************/

footer {
  grid-area: footer;
  margin: 0;
  align-items: center;
  justify-content: center;

  P {
    font-size: 0.8em;
  }
}

footer > nav {
  h2 {
    display: absolute;
    left: -9999999em;
  }
}

/**************************
* MARK: cookies
**************************/

dialog {
  border: 0.1rem solid #3c456a;
  border-radius: 1.5em;
  background-color: grey;
  max-width: 30em;
  width: 100%;
  padding: 0;
  overflow: hidden;

  h3 {
    text-align: center;
    font-weight: 600;
  }

  form > button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    padding: 0.2em;
    font-family: "press", "Andale mono";
    font-size: 1.5em;
    cursor: pointer;
    overflow: hidden;

    &:first-of-type {
      border-right: 0.1em solid #3c456a;
    }

    &:hover {
      background-color: rgb(204, 200, 200);
      box-shadow: 0 0 1em var(--card-glow, rgba(0, 255, 102, 0.2)); /*bron: www.gemini.com */
    }
  }

  menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 2em 0 0 0;
    list-style: none;
    border-top: 0.1em solid #3c456a;

    button {
      background-color: transparent;
      margin-bottom: 0em;
      font-family: "mono", "Andale mono";
      padding: var(--whitespace-s);
      font-size: var(--step-0);
      text-align: center;
      cursor: pointer;
      width: 100%;

      li {
        margin: 0;
        padding: 0;
        display: flex;

        &:first-of-type {
          border-right: 0.1em solid #3c456a;
        }
      }

      &:hover {
        background-color: rgb(204, 200, 200);
        box-shadow: 0 0 1em var(--card-glow, rgba(0, 255, 102, 0.2)); /*bron: www.gemini.com */
      }
    }
  }
}

/**************************
* MARK: Section link states
**************************/

a:hover {
  color: limegreen;
}

a:focus {
  color: limegreen;
}
