/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 4000;
  font-style: normal;
}

body {
  font-family: "Comic Relief", system-ui;
  background-color: Canvas;
  background-color: #3e2597;
  color-scheme: light dark;
}
